html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: 'Microsoft YaHei';
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  outline: none;
}
button {
  outline: none;
}
img {
  border: 0;
  vertical-align: middle;
}
.hidden {
  display: none;
}
.invisible {
  visibility: hidden;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clearfix {
  clear: both;
}
.btn {
  display: inline-block;
  border: solid 1px #2461bd;
  background: #e2eeff;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #343434;
  font-size: 14px;
  font-family: 'Microsoft YaHei';
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.btn:hover {
  background: #8db0e2;
}
.btn:active {
  background: #5b8dd8;
}
.border {
  border: solid 1px #dddddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.header {
  padding-left: 20px;
  height: 50px;
  line-height: 50px;
  border-bottom: solid 1px #dddddd;
}
.header h3 {
  font-size: 20px;
  font-weight: lighter;
  color: #343434;
}
.wraper {
  width: 100%;
  display: table;
}
.sideBar {
  display: table-cell;
  width: 230px;
  background: #2d2d35;
  position: relative;
  vertical-align: top;
}
.sideBar .color {
  width: 100%;
  position: relative;
  top: 0;
  height: 3px;
}
.sideBar .color span {
  display: inline-block;
  height: 3px;
  width: 25%;
  position: absolute;
}
.sideBar .color .blue {
  background: #166bec;
}
.sideBar .color .red {
  background: #d7442f;
  left: 25%;
}
.sideBar .color .yellow {
  background: #ffb505;
  left: 50%;
}
.sideBar .color .green {
  background: #03a15c;
  left: 75%;
}
.sideBar .slideLeft {
  height: 50px;
  line-height: 50px;
  text-align: right;
  padding-right: 30px;
}
.sideBar .slideLeft .icon-left {
  display: inline-block;
  width: 9px;
  height: 13px;
  background: url(../image/icon-left.png) no-repeat;
}
.sideBar .switchP {
  height: 35px;
  line-height: 35px;
  text-align: center;
  position: relative;
  margin-top: 10px;
  cursor: pointer;
}
.sideBar .switchP .selected {
  display: inline-block;
  width: 153px;
  height: 33px;
  border: solid 1px #959595;
  padding-left: 15px;
  color: #ffb505;
  font-size: 14px;
  text-align: left;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.sideBar .switchP .icon-dropdown {
  display: inline-block;
  width: 7px;
  height: 4px;
  background: url("../image/icon-dropdown.png") no-repeat;
  position: absolute;
  right: 50px;
  top: 17px;
}
.sideBar .sideTab {
  margin-top: 30px;
}
.sideBar .sideTab li {
  height: 40px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}
.sideBar .sideTab .side {
  display: inline-block;
  width: 147px;
  height: 40px;
  line-height: 40px;
  text-align: left;
  padding-left: 23px;
  color: #959595;
  background: url('../image/icon-tab.png') 0 14px no-repeat;
}
.sideBar .sideTab .sideC {
  display: inline-block;
  width: 147px;
  height: 40px;
  line-height: 40px;
  text-align: left;
  padding-left: 23px;
  color: #ffffff;
  background: url('../image/icon-curTab.png') 0 14px no-repeat;
}
.main {
  display: table-cell;
}
.main .item {
  background: #f8f8f8;
}
.pager {
  height: 65px;
  line-height: 65px;
  text-align: center;
}
.pager a {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  width: 28px;
  text-align: center;
  border: solid 1px #dddddd;
  color: #717171;
  font-size: 12px;
  margin-right: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.pager span {
  display: inline-block;
  height: 28px;
  line-height: 28px;
  text-align: center;
  color: #717171;
  font-size: 12px;
  margin-right: 5px;
}
.pager .curPage {
  background: #696969;
  color: #ffffff;
}
.tab {
  margin-top: 15px;
  padding-left: 30px;
}
.tab li {
  display: inline-block;
  height: 30px;
  width: 128px;
  background: #484f61;
  color: #ffffff;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  font-size: 12px;
  border-style: solid;
  border-color: #062158;
  border-width: 1px 1px 0 1px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px;
}
.tab .tabC {
  background: #dc4638;
  border-color: #9a1e12;
  border-style: solid;
  border-width: 1px 1px 0 1px;
}
