html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: 'Microsoft YaHei';
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  outline: none;
}
button {
  outline: none;
}
img {
  border: 0;
  vertical-align: middle;
}
.hidden {
  display: none;
}
.invisible {
  visibility: hidden;
}
.left {
  float: left;
}
.right {
  float: right;
}
.clearfix {
  clear: both;
}
.btn {
  display: inline-block;
  border: solid 1px #2461bd;
  background: #e2eeff;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #343434;
  font-size: 14px;
  font-family: 'Microsoft YaHei';
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.btn:hover {
  background: #8db0e2;
}
.btn:active {
  background: #5b8dd8;
}
.border {
  border: solid 1px #dddddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.tab {
  margin-top: 15px;
  padding-left: 30px;
}
.tab li {
  display: inline-block;
  height: 30px;
  width: 128px;
  background: #484f61;
  color: #ffffff;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  font-size: 12px;
  border-style: solid;
  border-color: #062158;
  border-width: 1px 1px 0 1px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px;
}
.tab .tabC {
  background: #dc4638;
  border-color: #9a1e12;
  border-style: solid;
  border-width: 1px 1px 0 1px;
}
.container {
  padding: 0 20px;
}
#setting {
  background: #ffffff;
}
.content .pad0 {
  padding: 15px 0 10px 0 !important;
}
.content .operate {
  padding: 15px 0 10px 35px;
}
.content .operate ul {
  padding: 10px 0;
}
.content .operate .ulLe {
  padding: 10px 0 10px 35px;
}
.content .operate li {
  display: inline-block;
  font-size: 14px;
  padding: 5px 10px;
  color: #343434;
  margin-right: 30px;
  cursor: pointer;
}
.content .operate .active {
  background: #c9dfff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.content .operate .block {
  padding: 10px 0;
  display: block !important;
  border-top: dashed 1px #dddddd;
  border-bottom: dashed 1px #dddddd;
  margin-right: 0 !important;
}
.content .operate .center {
  text-align: center;
  padding: 10px 0;
}
.content .operate .check {
  display: inline-block;
  position: relative;
  margin-right: 20px;
}
.content .operate .tf {
  padding: 10px;
}
.content .operate label {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  margin-right: 5px;
  color: #343434;
}
.content .operate .selected {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  width: 85px;
  padding-left: 10px;
  font-size: 12px;
  color: #343434;
  vertical-align: middle;
  border: solid 1px #dddddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.content .operate select {
  width: 97px;
  height: 32px;
  opacity: 0;
  position: absolute;
}
.content .operate .de {
  top: 0;
  left: 66px;
}
.content .operate .em {
  top: 0;
  left: 38px;
}
.content .operate .le {
  top: 10px;
  left: 104px;
}
.content .operate .ad {
  top: 0;
  right: 0;
}
.content .operate .arrow {
  display: inline-block;
  width: 7px;
  height: 4px;
  background: url('../image/icon-dropdown.png') no-repeat;
  position: absolute;
}
.content .operate .arrow-de {
  left: 145px;
  top: 15px;
}
.content .operate .arrow-em {
  left: 118px;
  top: 15px;
}
.content .operate .arrow-le {
  left: 183px;
  top: 23px;
}
.content .operate .arrow-ad {
  top: 15px;
  right: 10px;
}
.content .operate .tag {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  width: 94px;
  text-align: right;
  font-size: 14px;
  margin-right: 5px;
}
.content .operate .sd {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  width: 105px;
  padding-left: 10px;
  font-size: 12px;
  color: #343434;
  vertical-align: middle;
  border: solid 1px #dddddd;
  text-align: left;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.content .operate .so {
  width: 117px;
  top: 0;
  right: 1px;
}
.content .operate .at {
  top: 14px;
  right: 10px;
}
.content .operate .hl {
  display: none;
}
.content .operate .filter {
  display: block;
  padding: 10px 0;
  position: relative;
  border-bottom: dashed 1px #dddddd;
  margin-right: 0;
}
.content .operate .filter .search {
  height: 30px;
  padding-left: 10px;
  width: 235px;
  border: solid 1px #dddddd;
  color: #343434;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.content .operate .filter .icon-search {
  display: inline-block;
  width: 21px;
  height: 21px;
  background: url('../image/icon-search.png') no-repeat;
  position: absolute;
  top: 15px;
  left: 310px;
  cursor: pointer;
}
.content .operate .filter ::-webkit-input-placeholder {
  font-family: "Microsoft YaHei";
  font-size: 12px;
  color: #a3a3a3;
}
.content .operate .filter :-moz-placeholder {
  font-family: "Microsoft YaHei";
  font-size: 12px;
  color: #a3a3a3;
}
.content .operate .filter :-ms-input-placeholder {
  font-family: "Microsoft YaHei";
  font-size: 12px;
  color: #a3a3a3;
}
.content .operate .filter .dMore {
  padding: 10px 104px 0 100px;
  position: relative;
}
.content .operate .filter .dMore li {
  display: inline-block;
  font-size: 12px;
  margin-right: 2px;
}
.content .operate .filter .btn-more {
  display: inline-block;
  background: none;
  border: solid 1px #dddddd;
  height: 20px;
  width: 50px;
  color: #176ced;
  font-size: 12px;
  padding-left: 6px;
  text-align: left;
  font-family: "Microsoft YaHei";
  position: absolute;
  top: 22px;
  right: 15px;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.content .operate .filter .btn-more span {
  display: inline-block;
  width: 7px;
  height: 4px;
  background: url('../image/icon-dropdown.png') no-repeat;
  position: absolute;
  top: 8px;
  right: 5px;
}
.content .operate .filter .iBlock {
  display: inline-block;
  padding: 0;
}
.content .operate .filter .iBlock li {
  font-size: 12px;
}
.content .operate .filter .inline {
  display: inline-block;
  width: 222px;
  position: relative;
}
.content .operate .filter .iC {
  position: absolute;
  left: 50%;
  margin-left: -111px;
}
.content .operate .filter .iR {
  position: absolute;
  right: 20px;
}
.content .operate .filter .emInfo {
  height: 30px;
  width: 110px;
  padding-left: 5px;
  border: solid 1px #dddddd;
  color: #343434;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.content .operate .filter .hw {
  display: inline-block;
}
.content .operate .filter .hw .to {
  display: inline-block;
  width: 25px;
  height: 32px;
  line-height: 32px;
  font-size: 12px;
  color: #343434;
  text-align: center;
}
.content .operate .txtC {
  text-align: center;
}
.content .operate .btn-filter {
  width: 116px;
  vertical-align: middle;
}
.content .operate .newT {
  display: inline-block;
  float: right;
}
.content .operate .btn-newRule {
  width: 116px;
  vertical-align: middle;
  margin-left: 10px;
}
.content .operate .more {
  border: none;
  background: none;
  color: #343434;
  font-size: 12px;
  position: relative;
  font-family: 'Microsoft YaHei';
  float: right;
  margin-right: 20px;
  margin-top: 10px;
  cursor: pointer;
}
.content .operate .more .unfold {
  display: inline-block;
  width: 7px;
  height: 4px;
  background: url('../image/icon-dropdown.png') no-repeat;
  position: absolute;
  top: 7px;
  right: -5px;
}
.content .operate .more .fold {
  display: inline-block;
  width: 4px;
  height: 7px;
  background: url('../image/icon-slideUp.png') no-repeat;
  position: absolute;
  top: 7px;
  right: -5px;
}
.content .pad20 {
  padding: 20px 35px;
}
.content .dashed {
  border-bottom: dashed 1px #dddddd;
}
.content .table table {
  width: 100%;
}
.content .table thead th {
  height: 35px;
  text-align: center;
  font-size: 14px;
  color: #343434;
  background: #ededed;
  border-top: solid 1px #dddddd;
  border-bottom: solid 1px #dddddd;
  font-weight: lighter;
  vertical-align: middle;
}
.content .table tbody td {
  height: 30px;
  text-align: center;
  font-size: 12px;
  color: #343434;
  border-bottom: solid 1px #dddddd;
  vertical-align: middle;
}
.content .table tbody td button {
  border: none;
  color: #176ced;
  font-family: 'Microsoft YaHei';
  font-size: 12px;
  background: none;
  cursor: pointer;
}
.content .table tbody td span {
  display: inline-block;
  width: 13px;
  height: 13px;
  background: url('../image/icon-warnning.png') no-repeat;
  vertical-align: bottom;
  margin-right: 5px;
}
.content .deadLine {
  padding: 30px 100px;
}
.content .deadLine dd {
  margin-bottom: 15px;
}
.content .deadLine label {
  display: inline-block;
  width: 90px;
  font-size: 14px;
  color: #343434;
  margin-right: 10px;
}
.content .deadLine input {
  width: 250px;
  height: 30px;
  border: solid 1px #dddddd;
  text-align: center;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.content .deadLine .save {
  text-align: center;
  margin-top: 20px;
}
.content .deadLine .btn-save {
  width: 116px;
}
.target {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(66, 93, 109, 0.4);
}
.target .new-content {
  width: 500px;
  border: solid 1px #2d2d35;
  background: #ffffff;
  position: absolute;
  top: 25%;
  left: 50%;
  margin-top: -200px;
  margin-left: -250px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.target .outer {
  height: 675px;
  overflow-y: scroll;
}
.target .tHeader {
  height: 45px;
  line-height: 45px;
  font-size: 14px;
  color: #ffffff;
  background: #2d2d35;
  padding-left: 10px;
  position: relative;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-top-left-radius: 5px;
  -moz-border-top-left-radius: 5px;
  -moz-border-top-right-radius: 5px;
}
.target .tHeader .close {
  display: inline-block;
  width: 17px;
  height: 17px;
  background: url("../image/icon-close.png") no-repeat;
  position: absolute;
  right: 10px;
  top: 14px;
  cursor: pointer;
}
.target .addTarget {
  padding: 10px 20px;
  position: relative;
}
.target .addTarget .addBlock {
  margin-top: 10px;
}
.target .addTarget .name {
  display: inline-block;
  width: 65px;
  text-align: left;
  margin-right: 20px;
  color: #343434;
  font-size: 14px;
}
.target .addTarget .tag {
  display: inline-block;
  width: 85px;
  text-align: left;
  margin-right: 5px;
  color: #343434;
  font-size: 14px;
}
.target .addTarget .red {
  color: #d54431;
  display: inline-block;
  width: 8px;
}
.target .addTarget .top {
  vertical-align: top;
  margin-top: 5px;
}
.target .addTarget .bc {
  display: inline-block;
  background: #f5f5f5;
  padding: 15px;
  position: relative;
}
.target .addTarget .bc input {
  width: 268px;
  height: 30px;
  border: solid 1px #dddddd;
  font-size: 12px;
  color: #343434;
  padding-left: 10px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.target .addTarget .bc .us {
  display: inline-block;
  width: 268px;
  height: 30px;
  line-height: 30px;
  border: solid 1px #dddddd;
  font-size: 12px;
  color: #343434;
  padding-left: 10px;
  background: #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.target .addTarget .bc select {
  width: 280px;
  height: 32px;
  position: absolute;
  top: 15px;
  right: 15px;
  opacity: 0;
}
.target .addTarget .bc .arrow {
  display: inline-block;
  width: 7px;
  height: 4px;
  background: url('../image/icon-dropdown.png') no-repeat;
  position: absolute;
  right: 25px;
  top: 30px;
}
.target .addTarget .nt {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}
.target .addTarget .nt .us {
  display: inline-block;
  width: 310px;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  border: solid 1px #dddddd;
  color: #979797;
  font-size: 12px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.target .addTarget .nt select {
  width: 322px;
  height: 32px;
  position: absolute;
  opacity: 0;
  right: 0;
  top: 0;
}
.target .addTarget .nt .arrow {
  display: inline-block;
  width: 7px;
  height: 4px;
  background: url('../image/icon-dropdown.png') no-repeat;
  position: absolute;
  right: 10px;
  top: 14px;
}
.target .addTarget .nt .t_txt {
  width: 310px;
  height: 30px;
  line-height: 30px;
  padding-left: 10px;
  border: solid 1px #dddddd;
  color: #979797;
  font-size: 12px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.target .addTarget .nt .example {
  font-size: 12px;
  color: #979797;
  position: absolute;
  right: 0;
  top: 35px;
}
.target .addTarget .em-info {
  display: inline-block;
  width: 320px;
  margin-left: 107px;
  margin-bottom: 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.target .addTarget .em-info table {
  width: 100%;
  border: solid 1px #dddddd;
}
.target .addTarget .em-info td {
  font-size: 12px;
  color: #343434;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  border: solid 1px #dddddd;
}
.target .addTarget .em-info td input {
  width: 100%;
  border: none;
  height: 30px;
}
.target .addTarget .em-info .t1 {
  width: 98px;
}
.target .addTarget .em-info .t2 {
  width: 120px;
}
.target .addTarget .em-info .t3 {
  width: 45px;
}
.target .addTarget .em-info .t4 {
  width: 92px;
}
.target .addTarget .noL {
  display: inline-block;
  margin-left: 107px;
}
.target .addTarget .noL label {
  display: inline-block;
  width: 10px;
  height: 10px;
  border: solid 1px #343434;
  margin-bottom: -1px;
  position: relative;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.target .addTarget .noL input:checked + label:before {
  content: '';
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #343434;
  position: absolute;
  top: 2px;
  left: 2px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.target .addTarget .noL span {
  color: #343434;
  font-size: 12px;
}
.target .addTarget p {
  font-size: 12px;
  color: red;
  padding-left: 118px;
  line-height: 30px;
  height: 30px;
}
.target .addTarget .visibility {
  visibility: hidden;
}
.target .addTarget .icon-add {
  display: inline-block;
  width: 24px;
  height: 23px;
  background: url('../image/icon-add.png') no-repeat;
  position: absolute;
  right: 15px;
  top: 65px;
  cursor: pointer;
}
.target .addTarget .t-drop {
  display: inline-block;
}
.target .addTarget .t-drop .btn-target {
  width: 95px;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
}
.target .addTarget .t-drop .targetC {
  display: none;
  width: 310px;
  height: 180px;
  overflow-y: scroll;
  background: #f5f5f5;
  margin-top: 10px;
  padding: 10px;
  position: relative;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.target .addTarget .t-drop .targetC ul {
  margin-top: 10px;
}
.target .addTarget .t-drop .targetC li {
  display: inline-block;
  font-size: 12px;
  width: 44px;
  text-align: center;
  height: 25px;
  line-height: 25px;
  cursor: pointer;
}
.target .addTarget .t-drop .search {
  height: 30px;
  padding-left: 10px;
  width: 235px;
  border: solid 1px #dddddd;
  color: #343434;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.target .addTarget .t-drop .btn-search {
  display: inline-block;
  width: 21px;
  height: 21px;
  background: url('../image/icon-search.png') no-repeat;
  position: absolute;
  top: 15px;
  right: 75px;
  cursor: pointer;
}
.target .addTarget .t-drop ::-webkit-input-placeholder {
  font-family: "Microsoft YaHei";
  font-size: 12px;
  color: #a3a3a3;
}
.target .addTarget .t-drop :-moz-placeholder {
  font-family: "Microsoft YaHei";
  font-size: 12px;
  color: #a3a3a3;
}
.target .addTarget .t-drop :-ms-input-placeholder {
  font-family: "Microsoft YaHei";
  font-size: 12px;
  color: #a3a3a3;
}
.target .tSubmit {
  text-align: center;
  padding: 15px 0;
}
.target .tSubmit .btn-done {
  width: 95px;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  margin-right: 10px;
}
.target .tSubmit .btn-submit {
  width: 117px;
  margin-right: 10px;
}
.target .tSubmit .btn-cancel {
  width: 95px;
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  margin-left: 10px;
}
.target .targetT {
  padding: 0 20px;
  margin-bottom: 20px;
}
.target .targetT table {
  width: 100%;
  border: solid 1px #dddddd;
}
.target .targetT thead th {
  height: 35px;
  text-align: center;
  font-size: 14px;
  color: #343434;
  background: #ededed;
  border-top: solid 1px #dddddd;
  border-bottom: solid 1px #dddddd;
  font-weight: lighter;
  vertical-align: middle;
}
.target .targetT tbody td {
  height: 30px;
  text-align: center;
  font-size: 12px;
  color: #343434;
  border-bottom: solid 1px #dddddd;
  vertical-align: middle;
}
.target .targetT tbody td button {
  border: none;
  color: #176ced;
  font-family: 'Microsoft YaHei';
  font-size: 12px;
  background: none;
  cursor: pointer;
}
.target .targetT tbody td input {
  color: #343434;
  font-size: 12px;
  text-align: center;
  font-family: 'Microsoft YaHei';
}
.target .targetT .pBorder {
  border-style: solid;
  border-width: 0 1px 1px 1px;
  border-color: #dddddd;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-bottom-left-radius: 5px;
  -moz-border-bottom-right-radius: 5px;
}
